
.initial_money{
    display: inline-block;
}
.money-choice{
    font-size: 30px;
}
.button{
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    border: 5px;
    border-radius: 30px;
    align-items: center;
}
label{
    display:block;
}
input{
    border-radius: 15px;
}