
.initial_money{
    display: flex;
    flex-direction: row;
}
.buttons_money{
    display: contents;  

}
.buttons{
    width:50%;
    height: 50%;
    border-radius: 10px;
    border: 5px;
    align-items: center;
}
label{
    display:block;
}
input{
    border-radius: 10px;
    font-size:18px;
    justify-content: center;

}
.buttom-add{
    background-color: green;
}

.buttom-remove{
    background-color: darkred;
}