.App {
  text-align: center;
}
.body{
  width:100%;
  height: 100%;
  background-color: black;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
h1{
  font-family: 'Bigelow Rules';
  font-size: 36px;
  color:gold;
}
.esquerda{
  
}
img{
  max-width: 250px;
  min-width:-webkit-fill-available;
  justify-content: center;
  align-items: center;
  max-height: 400px;
}

@media screen and (max-width: 992px) {
  body{
    width:990px;
    height: auto;
  }
  h1 {
    background-color: grey;
    border-radius: 15px;
      margin:10px;
    width:90%;
    text-align: center;
    display:list-item
  }

  img{
    max-width: 200px;
    max-height: 200px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body{
    width:600px;
  }
  h1 {
    background-color: olive;
  }
  img{
    max-width: 150px;
    max-height: 150px;
  }
}
